:root {
  --color-bg: #e9f5db;
  --color-bg-secondary: #cfe1b9;
  --color-block: #b5c99a;
  --color-border: #97a97c;
  --color-accent: #87986a;
  --color-text: #718355;
  --color-text-dark: #222;
  --border-radius: 12px;
  --input-padding: 4px;
  --box-shadow: 0 4px 24px rgba(0,0,0,0.08);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', Arial, sans-serif;
}

input, button, select.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: var(--input-padding);
  font-size: 1em;
  height: 30px; 
  background: var(--color-bg);
  box-sizing: border-box;
}

button {
  background: var(--color-accent);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border: none;
  transition: background 0.2s;
}

button:hover {
  background: var(--color-text);
}

.form-block {
  background: var(--color-block);
  box-shadow: var(--box-shadow);
  padding: 32px 40px;
  min-width: 320px;
}

input:focus, button:focus {
  outline: 2px solid var(--color-accent);
}

body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  max-width: 100vw !important;
  box-sizing: border-box;
} 

/* .MuiPaper-root {
  background: var(--color-block) !important;
  color: var(--color-text) !important;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow) !important;
} */

 .MuiTableCell-root {
  background: var(--color-bg) !important;
  color: var(--color-text-dark) !important;
}

 /* .MuiTableHead-head {
  background: var(--color-bg-secondary) !important;
  color: var(--color-text-dark) !important;
} */

.MuiBox-root {
  background: var(--color-bg-secondary) !important;
  color: var(--color-text-dark) !important;
}